@import 'variables';
@import 'libs/normalize';
@import 'components/all';

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: sans-serif;
  color: $white;
}

h2,
h1 {
  margin: 0;
}

.wrapper {
  max-width: 1400px;
  width: calc(100vw - 100px);
  height: 100%;
  margin: 0 auto;

  @media screen and (min-width: $tablet) {
    width: calc(100% - 1.5rem);
  }

  @media screen and (min-width: $mobileL) {
    width: calc(100% - 2.5rem);
  }
}

.App {
  min-height: 100vh;
  background: $bg;
}

.main {
  margin-bottom: 4.3125rem;
  padding-top: 5.625rem;

  &__circle {
    &:nth-child(1) {
      position: absolute;
      top: 50%;
      left: 0;
      width: 19.43rem;
      height: 19.43rem;
      background: $darkRed;
      border-radius: 50%;
      filter: blur(15rem);
      transform: translate(-50%, -50%);

      @media screen and (max-width: 560px) {
        top: 87%;
      }
    }

    &:nth-child(2) {
      position: absolute;
      top: 10%;
      left: 45%;
      width: 5.18rem;
      height: 5.18rem;
      background: radial-gradient(
        at 1rem 1rem,
        #ffd0d089 0%,
        #d45d5d43 56%,
        #a731313f 74%,
        #8219193f
      );
      filter: drop-shadow(3px 6px 27px #df7d7d40);
      border-radius: 50%;

      @media screen and (max-width: 560px) {
        display: none;
      }
    }

    &:nth-child(3) {
      position: absolute;
      top: -1%;
      left: 75%;
      width: 3.75rem;
      height: 3.75rem;
      background: radial-gradient(
        at 1rem 1rem,
        #ecd0ffa3 0%,
        #a15dcf3d 56%,
        #7631a435 74%,
        #5618803b
      );
      filter: blur(4px) drop-shadow(3px 6px 27px #b176d940);
      border-radius: 50%;

      @media screen and (max-width: 560px) {
        top: 56%;
        left: 81%;
      }
    }

    &:nth-child(4) {
      position: absolute;
      top: -22%;
      left: 52%;
      width: 16.18rem;
      height: 16.18rem;
      background: $velvet;
      border-radius: 50%;
      filter: blur(19rem);

      @media screen and (max-width: 560px) {
        top: 31%;
        left: 18%;
      }
    }

    &:nth-child(5) {
      position: absolute;
      top: 70%;
      left: 55%;
      width: 1.75rem;
      height: 1.75rem;
      background: radial-gradient(
        at 0 0,
        #ffd0d089 11%,
        #d45d5d43 56%,
        #a731313f 74%,
        #8219193f
      );
      filter: blur(2px) drop-shadow(3px 6px 27px #df7d7d40);
      border-radius: 50%;

      @media screen and (max-width: 560px) {
        left: 9%;
      }
    }

    &:nth-child(6) {
      position: absolute;
      top: 10%;
      left: 2rem;
      width: 9rem;
      height: 9rem;
      background: #c4ffff;
      border-radius: 50%;
      filter: blur(9rem);
      transform: translate(-50%, -50%);
      opacity: 0;

      @media screen and (max-width: 560px) {
        opacity: 1;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__utp {
    @media screen and (max-width: $tablet) {
      margin-bottom: 2.8125rem;
      text-align: left;
    }

    & h1 {
      font-family: 'Inter';
      max-width: 22rem;
      font-size: 3rem;
      font-weight: 400;
      line-height: 3.5rem;

      @media screen and (max-width: $mobileL) {
        font-size: 2.5rem;
      }
    }

    & span {
      font-size: 3rem;
      font-weight: 900;
      background: linear-gradient(90deg, #fcb045, #ff3f78);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -ms-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
      -ms-text-fill-color: transparent;
      line-height: 3.5rem;
    }

    & p {
      max-width: 15rem;
      font-family: 'Montserrat';
      font-weight: 400;
      margin-top: 1.875rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 1rem;

    @media screen and (max-width: $tablet) {
      align-items: flex-start;
      width: fit-content;
    }
  }

  &__text {
    max-width: 18rem;
    margin-bottom: 2.5rem;
    text-align: end;
    font-family: 'Inter';
    font-size: 1.125rem;
    font-weight: 500;

    @media screen and (max-width: $tablet) {
      text-align: start;
      margin-left: -11%;
    }

    @media screen and (max-width: $mobileL) {
      margin-left: -6%;
    }

    & span {
      text-transform: uppercase;
      font-size: 1.25rem;
      font-weight: 700;
      background: linear-gradient(90deg, #fcb045, #ff3f78);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -ms-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
      -ms-text-fill-color: transparent;
    }
  }

  &__ditails {
    display: flex;
    margin-bottom: 3.8125rem;

    @media screen and (max-width: $tablet) {
      display: none;
    }

    &--mobile {
      display: none;

      @media screen and (max-width: $tablet) {
        display: flex;
      }
      
      @media screen and (max-width: $mobileL) {
        width: 16.5rem;
      }
    }
  }

  &__ditails-left {
    margin-right: 2.18rem;
  }

  &__ditails-item {
    display: flex;
    flex-direction: column;
    text-align: end;

    &--mob {
      @media screen and (max-width: $tablet) {
        margin: 0 2rem 0.875rem 0;
      }
    }
  }

  &__ditails-header {
    margin-bottom: 0.375rem;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1.125rem;
    text-transform: uppercase;

    &--mob {
      @media screen and (max-width: $tablet) {
        position: relative;
        margin-bottom: 0.875rem;
        font-size: 0.875rem;
        text-transform: uppercase;

        &::after {
          position: absolute;
          content: '';
          top: 50%;
          left: -17px;
          width: 0.7rem;
          height: 1px;
          background: linear-gradient(90deg, #fcb045, #ff3f78);
        }
      }
    }
  }

  &__ditails-text {
    max-width: 10rem;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.21875rem;
    margin-bottom: 1.875rem;
  }

  &__cosultation {
    @media screen and (max-width: $tablet) {
      display: none;
    }
  }
}
